{% extends 'base.html' %}

{% block page_content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          {% if user.is_authenticated %}
          Welcome, {{ user.username|default:'Guest' }}!
          {% else %}
          Please login or register a new account.
          {% endif %}
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-8 offset-md-2">
              <a href="{% url 'user_leaderboard' %}" class="btn btn-primary btn-block">Leaderboards</a>
              {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="btn btn-primary btn-block mb-3">Logout</a>
                <a href="{% url 'task_detail' %}" class="btn btn-primary btn-block mb-3">Start</a>
              {% else %}
                <a href="{% url 'login' %}" class="btn btn-primary btn-block mb-3">Login</a>
                <a href="{% url 'register' %}" class="btn btn-primary btn-block mb-3">Register a new account</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-5 text-center">
    <p>This site is dedicated to collecting annotations for text data, aimed at creating a research dataset for the evaluation of natural language processing systems. Once you are registered, you can initiate the annotation process by clicking Start button. You will be presented with brief snippets of text, and your task will be to rank the words based on their importance. More detailed instruction will be provided to guide you consistently throughout the annotation process.</p>
  </div>
</div>
{% endblock %}