{% extends 'base.html' %}

<style>
    label, input {
        display: block;
    }
    span.helptext {
        display: none;
    }
</style>

{% block page_content %}
<div class="container">
  <h2>Login</h2>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-primary" value="Login">
  </form>

  <a href="{% url 'dashboard' %}" class="btn btn-secondary">Back to dashboard</a>
  <a href="{% url 'register' %}" class="btn btn-secondary">Register a new account</a>
</div>
{% endblock %}