{% extends 'base.html' %}

{% block page_content %}
  <div class="container">
    <h2 class="mb-4">Task</h2>

        <div class="task-content">
          {% for line in task.content_lines %}
            {% for word in line.split %}
              <button class="btn btn-outline-secondary word-button" onclick="toggleButtonColor(this)">{{ word }}</button>
            {% endfor %}
            <br>
          {% endfor %}
        </div>

    <button class="btn btn-primary mt-4" onclick="submitOrder()">Submit Order</button>

    <div class="mt-5 text-center">
      <p>Arrange the words in descending order by their importance. You are not required to rank every word. Create an order for the most important ones; any unranked words will receive the last rank, and they should be considered to have similar importance. Importance is the measure of a word's contribution to the overall meaning of the context. Indicating the extent to which the removal of a word would diminish the information conveyed by the context.</p>
    </div>

  </div>

  <script>
    var selectedWords = [];

    function toggleButtonColor(button) {
      var word = button.textContent;
<!--      token of this type should not be clickable-->
      if (word.includes("(PERSON")) {
        return;
      }
      var position = Array.from(button.parentElement.children).filter(child => child.tagName !== 'BR').indexOf(button);
      var wordObj = { word: word, position: position };
      if (button.classList.contains('selected')) {
        button.classList.remove('selected');
        var index = selectedWords.findIndex(obj => obj.word === word && obj.position === position);
        if (index !== -1) {
          selectedWords.splice(index, 1);
        }
      } else {
        button.classList.add('selected');
        selectedWords.push(wordObj);
      }
      updateButtonColors();
    }

    function updateButtonColors() {
      var totalWords = selectedWords.length;
      var buttons = document.querySelectorAll('.word-button');

      buttons.forEach(function (button) {
        button.style.backgroundColor = ''; // Reset background color for all buttons
      });

      selectedWords.forEach(function (wordObj, index) {
        var hue = 240 - (index * 60 / totalWords);
        var brightness = 30 + (50 / totalWords) * (index + 1); // Calculate brightness between 30% and 80%
<!--        var color = `hsl(60, 100%, ${brightness}%)`; // Use HSL color with varying brightness-->
        var color = `hsl(${hue}, 100%, 50%)`;
        buttons[wordObj.position].style.backgroundColor = color;
      });
    }

    function submitOrder() {
      var userId = "{{ user_id }}"
      var taskId = "{{ task.id }}";

      var orderData = {
        userId: userId,
        taskId: taskId,
        selectedWords: selectedWords
      };

      var csrftoken = getCookie('csrftoken');

      fetch('/rankings/submit_task', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': csrftoken
        },
        body: JSON.stringify(orderData)
      })
        .then(response => {
          if (response.ok) {
            return response.json();
          } else {
            throw new Error('Failed to submit the order.');
          }
        })
        .then(data => {
          var score = data.score;
          console.log('Order submitted successfully! Score:', score);
          window.location.href = `/rankings/score_task/?task_id=${taskId}&score=${score}`;
        })
        .catch(error => {
          console.error('An error occurred while submitting the order:', error);
        });
    }

    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = cookies[i].trim();
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
  </script>

<style>
  .selected {
    color: black; /* Add this line to set text color to black */
  }
</style>
{% endblock %}